<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Presidentifer</title>

</head>

<body>

    <h1>Who Tweeted This?</h1>

    <h4>Which Presidential Candidate Most Aligns With The Text?</h4>

    <form method="post" action="http://flask-env.z8fvk4ursf.us-east-2.elasticbeanstalk.com/website_endpoint">

        <textarea name="comments" cols="150" rows="40" class="html-text-box">Enter your text here..</textarea>

        <p><input type="submit" value="Submit" class="html-text-box"><input type="reset" value="Reset" class="html-text-box"></p>

    </form>

</body>


</html>